<p>roi-configuration works!</p>
<kendo-dialog  class="sds-dialog" [width]=550 [height]=350  title="ROI-Configuration" *ngIf="opened" (close)="close('cancel')"> 
    <div class="sds-dialog">testing</div>
        <table>
        <tbody>

          <tr>
            <td>
              <p><a href="https://www.w3schools.com/">Request Type</a></p>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
              <p><a href="https://www.w3schools.com/">Pricing Policy</a></p>
            </td>
          </tr>
          <tr>
            <td>
              <p><a href="https://www.w3schools.com/">Request Source</a></p>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>
            <p><a href="https://www.w3schools.com/">Delivery Method</a></p>
            </td>
          </tr>
          </tbody>
        </table>
        <kendo-dialog-actions>
            <button  kendoButton rounded="medium" (click)="close('no')">No</button>
            <button sds-button variant="secondary" >
               Cancel
            </button>
        </kendo-dialog-actions>

    </kendo-dialog>
    <button  kendoButton (click)="open()">ROI-Config Tools</button>   
